body {
    transform-origin: top center;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
}

#webPage {
    background-color: #ffffff;
    border-radius: 10px;
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#innerWebPage {
    background-color: #CCCCCC;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 1120px;
    padding: 20px;
}

#optionsContainer {
    background-color: #BBBBBB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 0px 40px;
    padding: 20px;
    height: 420px;
    width: 690px;
}

.subMenu {
    background-color: #AAAAAA;
    border-radius: 10px;
    padding: 20px;
    width: 650px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.columnContainer {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rowContainer {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 650px;
}

h1 {
    margin: 0px;
    padding: 0px;
    height: 60px;
    color: purple;
}
h2 {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    height: 40px;
}

canvas {
    margin: 0px 40px 0px 0px;
}

.normBtn {
    background-color: var(--buttonDefault);
    color: white;
    border: solid 2px var(--buttonDefaultBorder);
    height: 30px;
    width: 200px;
    padding: 5px 0px;
    border-radius: 5px;
    transition: 50ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.normBtn:hover {
    background-color: var(--buttonHover);
    cursor: pointer;
}

.selectedBtn {
    background-color: var(--buttonHover);
    color: white;
    border: solid 2px var(--buttonDefaultBorder);
    height: 30px;
    width: 200px;
    padding: 5px 0px;
    border-radius: 5px;
    transition: 50ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --buttonDefault: #4466FF;
    --buttonDefaultBorder: #4060FF;
    --buttonHover: #5888FF;
    --buttonOff: #FF4D4D;
    --buttonOffBorder: #CC0000;
}
